= bootstrap_form_for @property do |f|
  - if @property.errors.any?
    = f.alert_message t('errors.template.header', count: @property.errors.count)

  = f.text_field :code
  = f.text_field :name

  = label_tag Magaz::Property.human_attribute_name(:property_type)
  = f.collection_select :property_type_id, Magaz::PropertyType.all, :id, :name, { hide_label: true }, {class: 'selectpicker', disabled: !new_property_page?, :'data-width'=> "400px" }
  = f.check_box :static
  %br

  = f.submit t('helpers.submit.save'), class: 'btn btn-success'
  - unless @property.new_record?
    = link_to t('helpers.link_to.destroy'), @property, method: :delete, data: {confirm: "Вы уверены, что хотите удалить запись?"}, class: 'btn btn-default btn-danger pull-right'
