= bootstrap_form_for([@property_group, @property], layout: :horizontal, label_col: 'col-md-2', control_col: 'col-md-10') do |f|
  - if @property.errors.any?
    = f.alert_message t('errors.template.header', count: @property.errors.count)

  = f.text_field :code
  = f.text_field :name
  / = label_tag Magaz::Property.human_attribute_name(:property_type)
  / = f.collection_select :property_type_id, Magaz::PropertyType.order(:code), :id, :name, { hide_label: true }, {class: 'selectpicker', disabled: !new_property_page?, 'data-width' => '400px'}
  = f.collection_select :property_type_id, Magaz::PropertyType.order(:code), :id, :name, { label: Magaz::Property.human_attribute_name(:property_type) }, {class: 'selectpicker', disabled: !new_property_page?, 'data-width' => '400px'}
  = f.form_group :variant do
    = f.check_box :variant
  / = f.text_area :description, class: 'wysihtml5'
  %br
  %fieldset
    %legend= t('magaz.common.description')
    = f.text_area :description, class: 'wysihtml5', hide_label: true, control_col: 'col-md-12'
  %br

  = f.submit t('helpers.submit.save'), class: 'btn btn-success'
  - unless @property.new_record?
    = link_to t('helpers.link_to.destroy'), @property, method: :delete, data: {confirm: "Вы уверены, что хотите удалить запись?"}, class: 'btn btn-link'
