= bootstrap_form_for [@property_group, @property] do |f|
  - if @property.errors.any?
    = f.alert_message t('errors.template.header', count: @property.errors.count)

  = f.text_field :code, class: 'medium_input_group'
  = f.text_field :name, class: 'medium_input_group'
  = label_tag Magaz::Property.human_attribute_name(:property_type)
  = f.collection_select :property_type_id, Magaz::PropertyType.order(:code), :id, :name, { hide_label: true }, {class: 'selectpicker', disabled: !new_property_page?, 'data-width' => '400px'}
  = f.text_area :description, class: 'wysihtml5'
  = f.form_group :static do
    = f.check_box :static
  %br

  = f.submit t('helpers.submit.save'), class: 'btn btn-success'
  - unless @property.new_record?
    = link_to t('helpers.link_to.destroy'), @property, method: :delete, data: {confirm: "Вы уверены, что хотите удалить запись?"}, class: 'btn btn-link'
