= render '/magaz/property_groups/breadcrumb'

.panel.panel-default
  .panel-heading
    %h4.panel_header
      = @property.name
  .panel-body
    = render 'tabs'
    %br
    = render 'form'

= link_to t('helpers.link_to.back'), property_group_properties_path(@parent_group)
