- if notice
  .alert.alert-success= notice

= render '/magaz/property_groups/breadcrumb'

.panel.panel-default
  .panel-heading
    %h4.panel_header= t('.title')
  .panel-body
    %table.editable_table.table.table-hover
      %thead
        %tr
          / %th.checkbox_column= check_box_tag '', '', false, class: 'header-checkbox'
          %th
          %th.th_actions
          %th= Magaz::Property.human_attribute_name(:name)
          %th= Magaz::Property.human_attribute_name(:property_type)
          %th.icons_column
      %tbody
        %tr
          %td
          %td
          %td= link_to '...', property_groups_path(@parent_group.parent)
          %td
          %td
        - @properties.each do |property|
          %tr
            %td
            %td.td_actions
              = render '/magaz/common/dropdown_menu', edit: edit_property_path(property), up: property_up_path(property), down: property_down_path(property), target: property, confirm:  "Вы уверены, что хотите удалить характеристику?"
            %td= link_to property.name, edit_property_path(property)
            %td
              - if property.type
                = property.type.name
            %td
              - if property.variant
                %i.fa.fa-pencil-square.fa-fw 

%br

= link_to t('helpers.link_to.new_f', model: Magaz::Property.model_name.human), new_property_group_property_path(@parent_group)
