= render '/magaz/categories/breadcrumb'

.panel.panel-default
  .panel-heading
    %h4.panel_header= @product.name

  .panel-body
    = render '/magaz/products/tabs'
    %br
    = render 'form'

= link_to t('helpers.link_to.back'), product_comments_path(@product)