- if notice
  .alert.alert-success= notice

- if @product
  = render '/magaz/categories/breadcrumb'

.panel.panel-default
  .panel-heading
    %h4.panel_header
      - if @product
        = @product.name
      - else
        = t('magaz.common.comments')

  .panel-body
    - if @product
      = render '/magaz/products/tabs'
      %br
      = render '/magaz/products/comment_filter'
    - else
      = render '/magaz/comments/comment_filter'

    %table.editable_table.table.table-condensed
      %thead
        %tr
          %th.th_actions
          %th= Magaz::Comment.human_attribute_name(:name)
          %th.datetime_column= t('magaz.common.created')
          %th= Magaz::Comment.human_attribute_name(:text)
          %th= Magaz::Comment.human_attribute_name(:rate)
          %th= t('.fresh')
          %th= t('.public')
          - unless @product
            %th
      %tbody
        - @comments.each do |comment|
          %tr
            %td
            %td= link_to comment.name, edit_comment_path(comment)
            %td= comment.created_at.strftime "%d.%m.%Y %H:%M"
            %td= truncate(comment.text, length: 80)
            %td= comment.rate
            %td
              - if comment.fresh
                %i.fa.fa-check-circle-o
            %td
              - unless comment.accepted
                %i.fa.fa-ban
            - unless @product
              %td= link_to comment.product.name, comment.product

    = will_paginate @comments, renderer: BootstrapPagination::Rails
    = render '/magaz/products/iter_group', tab: 'comments'
