- if notice
  .alert.alert-success= notice

= render 'breadcrumb'

.panel.panel-default
  .panel-heading
    %h4.panel_header= t('.title')
  .panel-body
    %table.editable_table.table.table-hover
      %thead
        %tr
          %th.checkbox_column
          %th.th_actions
          %th= Magaz::PropertyGroup.human_attribute_name(:name)
          %th.icons_column
      %tbody
        - if @parent_group
          %tr
            %td
            %td
            %td= link_to '...', property_groups_path(@parent_group.parent)
            %td
            %td
        - @groups.each do |group|
          %tr
            %td
            %td.td_actions
              = render '/magaz/common/dropdown_menu', edit: edit_property_group_path(group), up: property_group_up_path(group), down: property_group_down_path(group), target: group, confirm:  "Вы уверены, что хотите удалить группу? <br/>Все дочерние группы и характеристики будут также удалены"
            %td
              = link_to property_groups_path(group) do
                - if group.properties.empty?
                  %i.fa.fa-folder-open
                - else
                  %i.fa.fa-folder
                = group.name
            %td

%br
- if !@parent_group || (@parent_group.depth < 1)
  = link_to t('helpers.link_to.new_f', model: Magaz::PropertyGroup.model_name.human), new_property_group_path(@parent_group)
  - if @groups.empty?
    \|
- if @groups.empty?
  = link_to t('helpers.link_to.new_f', model: Magaz::Property.model_name.human), new_property_group_property_path(@parent_group)
