.col-lg-3.col-md-6
  .panel{class: "#{panel}"}
    .panel-heading
      .row
        .col-xs-3
          %i.fa.fa-5x{class: "#{icon}"}
        .col-xs-9.text-right
          .huge= count
          %div
            = items
    = link_to items_link do
      .panel-footer
        %span.pull-left= t('.details')
        %span.pull-right
          %i.fa.fa-arrow-circle-right
        .clearfix