= bootstrap_form_for([@category, @product], layout: :horizontal, label_col: 'col-md-2', control_col: 'col-md-10')  do |f|
  - if @product.errors.any?
    = f.alert_message t('errors.template.header', count: @product.errors.count)

  = f.text_field :name
  = f.text_field :price, class: 'small_input_group'
  = f.text_field :article, class: 'small_input_group'
  = f.text_field :weight, class: 'small_input_group'
  = f.form_group :hidden do
    = f.check_box :hidden
  - if setting_moulded?
    %fieldset
      %legend= t('magaz.common.moulded_data')
      = f.form_group :moulded do
        = f.check_box :moulded
      = f.collection_select :input_dim_id, @dimensions, :id, :to_s, { label: Magaz::Product.human_attribute_name(:input_dim) }, {class: 'selectpicker', 'data-width' => '400px'}
      = f.collection_select :calc_dim_id, @dimensions, :id, :to_s, { label: Magaz::Product.human_attribute_name(:calc_dim) }, {class: 'selectpicker', 'data-width' => '400px'}
      = f.form_group :correct do
        = f.check_box :correct
        
  %br
  = f.submit t('helpers.submit.save'), class: 'btn btn-success'
  - unless @product.new_record?
    = link_to t('helpers.link_to.destroy'), @product, method: :delete, data: {confirm: "Вы уверены, что хотите удалить товар?"}, class: 'btn btn-link'
    = render 'iter_group', tab: 'spec'
