= render '/magaz/categories/breadcrumb'

.panel.panel-default
  .panel-heading
    = render "/magaz/common/product_header", product: @product
  .panel-body
    = render 'tabs'
    %br
    = bootstrap_form_for @product do |f|
      = hidden_field_tag 'descr', '1'
      = f.text_area :description, class: 'wysihtml5 description', hide_label: true
      = f.submit t('helpers.submit.save'), class: 'btn btn-success'
      = render 'iter_group', tab: 'descr'
