- if notice
  .alert.alert-success= notice

= render '/magaz/categories/breadcrumb'

.panel.panel-default
  .panel-heading
    %h4.panel_header= @product.name
    = render 'undertitle_links'
  .panel-body
    = render 'form'

= link_to t('helpers.link_to.back'), category_products_path(@parent_category)
