
= render '/magaz/categories/breadcrumb'

.panel.panel-default
  .panel-heading
    = render "/magaz/common/product_header", product: @product
  .panel-body
    = render 'tabs'
    %br
    = render 'form'
      
= link_to t('helpers.link_to.back'), category_products_path(@parent_category)
