- if notice
  .alert.alert-success= notice

= render '/magaz/categories/breadcrumb'

.panel.panel-default
  .panel-heading
    %h4.panel_header= @product.name
  .panel-body
    = render 'undertitle_links'
    %br

    - @ordered_images.each do |image|
      .gallery-item
        = link_to image.picture.url, {:'data-lightbox' => @product.permalink} do
          = image_tag(image.picture.url, class: 'example-image img-rounded img-thumbnail')
        .actions
          = link_to product_image_up_path(@product, image), method: :patch, class: 'btn-link' do
            %i.glyphicon.glyphicon-menu-up
          = link_to product_image_down_path(@product, image), method: :patch, class: 'btn-link' do
            %i.glyphicon.glyphicon-menu-down
          = link_to product_image_destroy_path(@product, image), :method => :delete, :data => { :confirm => 'Вы уверены, что хотите удалить изображение?' }, class: 'btn-link' do
            %i.glyphicon.glyphicon-remove

    #upload-form
      = bootstrap_form_tag url: product_upload_path(@product) do |f|
        = f.file_field :picture, hide_label: true
        = f.submit t('.upload'), class: 'btn btn-success'


%br
= link_to t('helpers.link_to.back'), edit_product_path(@product)


