- if notice
  .alert.alert-success= notice

= render '/magaz/categories/breadcrumb'

.panel.panel-default
  .panel-heading
    %h4.panel_header= t('.title')
  .panel-body
    = form_tag(shift_products_path, id: 'productform') do
      = hidden_field_tag 'shift[parent]', @parent_category.permalink
      %table.editable_table.table.table-condensed
        %thead
          %tr
            %th.checkbox_column= check_box_tag '', '', false, class: 'header-checkbox'
            %th.th_actions
            %th= Magaz::Product.human_attribute_name(:name)
            %th
        %tbody
          %tr
            %td
            %td
            %td= link_to '...', categories_path(@parent_category.parent)
            %td
          - @products.each do |product|
            = hidden_field_tag 'shift[items][][id]', product.id
            %tr
              %td
                = check_box_tag 'shift[items][][checked]', 'true', false, class: 'row-checkbox'
              %td.td_actions
                = render '/magaz/common/dropdown_menu', edit: edit_product_path(product), up: product_up_path(product), down: product_down_path(product), target: product, confirm: "Вы уверены, что хотите удалить товар?"


              %td= link_to product.name, edit_product_path(product)
              %td

      
      = link_to t('helpers.link_to.new', model: Magaz::Product.model_name.human), new_category_product_path(@parent_category), class: 'btn btn-default'
      = submit_tag t('magaz.common.remove'), class: 'btn btn-link', data: { confirm: 'Уверены, что хотите удалить выбранные позиции?' }, name: 'remove'

= will_paginate @products, renderer: BootstrapPagination::Rails

