- if notice
  .alert.alert-success= notice

= render '/magaz/categories/breadcrumb'

.panel.panel-default
  .panel-heading
    %h4.panel_header= @product.name
  .panel-body
    = render 'tabs'
    %br
    .row
      .col-md-12
        = form_tag(product_properties_create_path(@product), {class: 'form-horizontal'}) do
          = render '/magaz/property_values/form'
          = submit_tag t('helpers.submit.save'), class: 'btn btn-success'