= form_tag(recount_order_path, method: 'patch') do
  - if @order.errors.any?
    = f.alert_message t('errors.template.header', count: @order.errors.count)

  %table.table.editable_table.table-condensed

    %thead
      %th.serial_number_column N
      %th.th_actions
      %th= Magaz::Product.human_attribute_name(:name)
      %th= t('magaz.common.mod')
      %th.count_column= t('magaz.common.count')
      - if setting_moulded?
        %th.count_column= t('magaz.common.count_total')
      %th.price_column= t('magaz.common.price')
      %th.price_column= t('magaz.common.sum')

    %tbody
      - @order.items.each_with_index do |item, index|
        = hidden_field_tag 'items[][id]', item.id
        %tr
          %td= index + 1
          %td.td_actions
            = render '/magaz/common/dropdown_menu', target: item, confirm: "Вы уверены, что хотите удалить товар из заказа?"
          %td= link_to item.product.name, edit_product_path(item.product)
          %td= item.variant.name if item.variant
          %td
            - unless setting_moulded?
              = number_field_tag 'items[][count]', item.count || 1, in: 1..1000, class: 'form-control input-sm'
            - else
              .input-group
                .input-group-addon
                  = item.product.input_dim_name
                = number_field_tag 'items[][count]', item.count || 1, in: 1..1000, class: 'form-control input-sm'

          - if setting_moulded?
            %td
              .input-group
                .input-group-addon
                  = item.product.calc_dim_name
                = number_field_tag 'items[][total_count]', item.unit_count, class: 'form-control input-sm', disabled: true

          %td.price_cell= number_to_currency item.price
          %td.price_cell= number_to_currency item.total_order_price(setting_moulded?)
      %tr
        %td
        %td
        %td
        %td
        %td
        - if setting_moulded?
          %td
        %td.price_cell
          %strong= t('magaz.common.total')
        %td.price_cell
          %strong= number_to_currency @order.total_price(setting_moulded?)

  %br
  %br
  = submit_tag t('magaz.common.recount'), class: 'btn btn-success'