= bootstrap_form_for @order do |f|
  - if @order.errors.any?
    = f.alert_message t('errors.template.header', count: @order.errors.count)

  = label_tag Magaz::Order.human_attribute_name(:delivery)
  = f.collection_select :delivery_id, Magaz::Delivery.all, :id, :name, { hide_label: true }, {class: 'selectpicker'}

  = f.text_field :address1
  = f.text_field :address2
  = f.text_field :address3
  = f.text_field :address4
  = f.text_field :post_code

  = f.datetime_field :pdt, value: @order.formatted_pdt, icon: 'calendar', class: 'datetimepicker'

  = label_tag Magaz::Order.human_attribute_name(:customer_comment)
  %p= @order.customer_comment

  = f.submit t('helpers.submit.save'), class: 'btn btn-success'