= bootstrap_form_for @order do |f|
  - if @order.errors.any?
    = f.alert_message t('errors.template.header', count: @order.errors.count)

  = label_tag Magaz::Order.human_attribute_name(:payment)
  = f.collection_select :payment_id, Magaz::Payment.all, :id, :name, { hide_label: true }, {class: 'selectpicker'}

  = f.submit t('helpers.submit.save'), class: 'btn btn-success'