= form_tag(recount_order_path, method: 'patch') do
  - if @order.errors.any?
    = f.alert_message t('errors.template.header', count: @order.errors.count)

  %table.table.editable_table.table-condensed

    %thead
      %th.serial_number_column N
      %th.th_actions
      %th= Magaz::Product.human_attribute_name(:name)
      %th= t('magaz.common.mod')
      %th.count_column= t('magaz.common.count')
      - if @moulded_flag
        %th.count_column= t('magaz.common.count_total')
      %th.price_column= t('magaz.common.price')
      %th.price_column= t('magaz.common.sum')

    %tbody
      - @order.items.each_with_index do |item, index|
        = hidden_field_tag 'items[][id]', item.id
        %tr
          %td= index + 1
          %td.td_actions
            = render '/magaz/common/dropdown_menu', target: item, confirm: "Вы уверены, что хотите удалить товар из заказа?"
          %td
            = link_to item.product.name, edit_product_path(item.product)
            %br
            %small
              - if item.variant
                = item.variant.values_string
              - else
                = item.product.values_string
          %td= item.variant.name if item.variant
          %td
            - unless @moulded_flag
              = number_field_tag 'items[][count]', item.count || 1, in: 1..1000, class: 'form-control input-sm'
            - else
              .input-group
                .input-group-addon
                  = item.product.input_dim_name
                = number_field_tag 'items[][count]', item.count || 1, in: 1..1000, class: 'form-control input-sm'

          - if @moulded_flag
            %td
              .input-group
                .input-group-addon
                  = item.product.calc_dim_name
                = number_field_tag 'items[][total_count]', item.unit_count, step: 'any', class: 'form-control input-sm', disabled: !item.product.correct

          %td.price_cell= number_to_currency item.price
          %td.price_cell= number_to_currency item.total_order_price
      %tr
        %td
        %td
        %td
        %td
        %td
        - if @moulded_flag
          %td
        %td.price_cell
          %strong= t('magaz.common.total')
        %td.price_cell
          %strong= number_to_currency @order.total_price

  %br
  = content_tag :p, "Внимание! При удалении позиций или пересчете заказа автоматически отправляется соответствующее уведомление на электронную почту покупателя", class: "alert alert-danger"
  %br

  = submit_tag t('magaz.common.recount'), class: 'btn btn-success', name: 'recount'
  - if @moulded_flag
    = submit_tag t('magaz.common.recount_unit'), class: 'btn btn-link', name: 'recount_unit'

  - if @order.offer
    %div.pull-right
      = link_to "Направить КП", send_offer_path(@order.id), class: "btn btn-default"
      - if @order.offer_sent
        = " (отпр. #{@order.offer_sent.strftime "%d.%m.%Y %H:%M"})"

