= bootstrap_form_for(@order, layout: :horizontal, label_col: 'col-md-2', control_col: 'col-lg-4 col-md-10') do |f|
  - if @order.errors.any?
    = f.alert_message t('errors.template.header', count: @order.errors.count)

  = hidden_field_tag "member", "edit_payment"
  = hidden_field_tag "form", "form_payment"
  = f.collection_select :payment_id, Magaz::Payment.all, :id, :name, { hide_label: false }, {class: 'selectpicker'}

  .row
    .col-lg-12
      = f.submit t('helpers.submit.save'), class: 'btn btn-success'
      &nbsp;
      .btn-group
        %button.btn.btn-default.dropdown-toggle{:type => "button", :'data-toggle' => "dropdown", :'aria-haspopup'=>true, :'aria-expanded'=>false}
          = t("magaz.common.bill")
          %span.caret
        %ul.dropdown-menu
          %li= link_to t("magaz.common.download"), bill_path(@order)
          - if @order.email && !@order.email.empty?
            %li= link_to t("magaz.common.send_bill", mail: @order.email), send_bill_path(@order)
  

      / = button_to 'Счет', '#', class: 'btn btn-default'
