- if notice
  .alert.alert-success= notice

.panel.panel-default
  .panel-heading
    %h4.panel_header
      = t('.title')
  .panel-body
    %ul.nav.nav-pills
      %li{class: ('active' if @filter == 'opened')}= link_to t('.opened'), orders_path(filter: 'opened'), class: 'btn btn-link'
      %li{class: ('active' if @filter == 'closed')}= link_to t('.closed'), orders_path(filter: 'closed'), class: 'btn btn-link'
      %li{class: ('active' if @filter == 'new')}= link_to t('.new'), orders_path(filter: 'new'), class: 'btn btn-link'
      %li{class: ('active' if @filter == 'all')}= link_to t('.all'), orders_path(filter: 'all'), class: 'btn btn-link'
    %br
    %table.table.table-condensed
      %thead
        %tr
          %th.serial_number_column= t('.num')
          %th.datetime_column= t('.created')
          %th= t('.customer')
          %th.total_price_column= t('.total')
          %th.status_column= Magaz::Order.human_attribute_name(:status)
      %tbody
        - @orders.each do |order|
          %tr
            %td= link_to order.num, edit_items_order_path(order)
            %td= order.created_at.strftime "%d.%m.%Y %H:%M"
            %td
              = order.customer
              = "(#{order.company})" if order.company
            %td.price_cell= number_to_currency order.total_price
            %td.status_cell= order.status.name if order.status

    / = link_to t('helpers.link_to.new', model: Magaz::Order.model_name.human), new_order_path
