- @properties.each do |property|
  .form-group
    = hidden_field_tag 'properties[][property_id]', property.id
    = label_tag property.name
    - if property.type.code == '01'
      = select_tag 'properties[][value]', options_from_collection_for_select(property.options, :name, :name, @product.value(property.id)), class: 'selectpicker form-control'
    - elsif property.type.code == '02'
      = number_field_tag 'properties[][value]', @product.value(property.id), class: 'form-control special_input'
    - elsif property.type.code == '04'
      = text_area_tag 'properties[][value]', @product.value(property.id), class: 'form-control wysihtml5'
    - elsif property.type.code == '05'
      .checkbox
        = check_box_tag 'properties[][value]', '1', str2bool(@product.value(property.id)), :'data-on-text' => 'ДА', :'data-off-text' => 'НЕТ', :'data-size' => 'mini', class: 'switcher'
    - elsif property.type.code == '10'
      .pick-a-color-weapper
        = text_field_tag 'properties[][value]', @product.value(property.id), class: 'pick-a-color form-control'
    - else
      = text_field_tag 'properties[][value]', @product.value(property.id), class: 'form-control'