
.form-group
  = label_tag 'var_name', Magaz::Product.human_attribute_name(:var_name), class: 'col-sm-4 control-label'
  .col-sm-8
    = text_field_tag :var_name, modification_name, class: 'form-control', id: 'var_name'
%br
- @property_groups.each do |group|
  %fieldset
    %legend= group.name
    / = render '/magaz/property_values/form', properties: group.properties
    %br
    - group.properties.order(:position).each do |property|
      .form-group
        = hidden_field_tag 'properties[][property_id]', property.id
        = label_tag nil, property.name, class: 'col-sm-4 control-label'
        .col-sm-8
          - if property.type.code == Magaz::PropertyType::LIST_CODE
            = select_tag 'properties[][value]', options_from_collection_for_select(property.options, :name, :name, @product.value(property.id)), include_blank: true, class: 'selectpicker form-control'
          - elsif property.type.code == Magaz::PropertyType::NUMBER_CODE
            = number_field_tag 'properties[][value]', @product.value(property.id), disabled: property.variant, class: 'form-control special_input'
          - elsif property.type.code == Magaz::PropertyType::FLOAT_CODE
            = number_field_tag 'properties[][value]', @product.value(property.id), disabled: property.variant, :step => 'any', class: 'form-control special_input'
          - elsif property.type.code == Magaz::PropertyType::STRING_CODE
            = text_area_tag 'properties[][value]', @product.value(property.id), class: 'form-control wysihtml5'
          - elsif property.type.code == Magaz::PropertyType::TEXT_CODE
            .checkbox
              = check_box_tag 'properties[][value]', '1', str2bool(@product.value(property.id)), :'data-on-text' => 'ДА', :'data-off-text' => 'НЕТ', :'data-size' => 'mini', class: 'switcher'
          - elsif property.type.code == Magaz::PropertyType::COLOR_CODE
            
            = text_field_tag 'properties[][value]', @product.value(property.id), class: 'pick-a-color form-control'
          - else
            = text_field_tag 'properties[][value]', @product.value(property.id), class: 'form-control'
