= bootstrap_form_for [@product, @variant] do |f|
  - if @variant.errors.any?
    = f.alert_message t('errors.template.header', count: @variant.errors.count)

  .row
    .col-md-6

      = f.text_field :price, icon: 'ruble'

      = render '/magaz/property_values/form'

  %hr
  .panel.panel-default
    .panel-heading
      %h5.panel_header= t('.images')
    .panel-body
      .alert.alert-info{role: 'alert'}
        = t('.select')
      = f.select :image_ids, @options, {hide_label: true}, {multiple: 'multiple', class: 'image-picker'}

  = f.submit t('helpers.link_to.add'), class: 'btn btn-success'

