= bootstrap_form_for([@p, @variant], layout: :horizontal, label_col: 'col-md-4', control_col: 'col-md-8') do |f|
  - if @variant.errors.any?
    = f.alert_message t('errors.template.header', count: @variant.errors.count)

  = f.text_field :price, class: 'form-control', id: 'var_price', placeholder: @product.price.to_s

  = f.form_group :hidden do
    = f.check_box :hidden

  = render '/magaz/property_values/form', modification_name: @variant.name

  %hr
  .panel.panel-default
    .panel-heading
      %h5.panel_header= t('.images')
    .panel-body
      .alert.alert-info{role: 'alert'}
        = t('.select')
      = f.select :image_ids, @options, {hide_label: true}, {multiple: 'multiple', class: 'image-picker'}

  = f.submit t('helpers.submit.save'), class: 'btn btn-success'

  - unless @variant.new_record?
    = link_to t('helpers.link_to.destroy'), @variant, method: :delete, data: {confirm: "Вы уверены, что хотите удалить модификацию?"}, class: 'btn btn-link'

