= bootstrap_form_for [@product, @variant] do |f|
  - if @variant.errors.any?
    = f.alert_message t('errors.template.header', count: @variant.errors.count)

  = f.text_field :price, icon: 'ruble'

  = f.fields_for 'property_values' do |ff|
    - @properties.each do |property|
      = label_tag property.name
      - if property.type.code == '01'
        = ff.collection_select property.id, property.options, :name, :name, {hide_label: true}, {class: 'selectpicker form-control'}
      - elsif property.type.code == '10'
        = ff.text_field property.id, hide_label: true, class: 'pick-a-color form-control'
      - else
        = ff.text_field property.id, hide_label: true

  = f.submit t('helpers.submit.save'), class: 'btn btn-success'

