= bootstrap_form_for [@product, @variant] do |f|
  - if @variant.errors.any?
    = f.alert_message t('errors.template.header', count: @variant.errors.count)

  = f.text_field :price, icon: 'ruble'

  - @properties.each do |property|
    .form-group
      = hidden_field_tag "properties[][property_id]", property.id
      = label_tag property.name
      - if property.type.code == '01'
        = select_tag "properties[][value]", options_from_collection_for_select(property.options, :name, :name), class: 'selectpicker form-control'
      - elsif property.type.code == '10'
        = text_field_tag "properties[][value]", '', class: 'pick-a-color form-control'
      - else
        = text_field_tag "properties[][value]", '', class: 'form-control'

  %br
  .panel.panel-default
    .panel-heading
      %h5.panel_header= t('.images')
    .panel-body
      .alert.alert-info{role: 'alert'}
        = t('.select')
      = f.select :image_ids, @options, {hide_label: true}, {multiple: 'multiple', class: 'image-picker'}

  = f.submit t('helpers.submit.save'), class: 'btn btn-success'

