= render '/magaz/categories/breadcrumb'

.panel.panel-default
  .panel-heading
    = render '/magaz/common/product_header', product: @product
  .panel-body
    = render '/magaz/products/tabs'
    %h4
      = t('.title')
      = link_to main_app.variant_path(@product, @variant) do
        %i.fa.fa-external-link.fa-fw
    %br
    .row
      .col-md-12
        = render 'form'

= link_to t('helpers.link_to.back'), product_variants_path(@product)