- if notice
  .alert.alert-success= notice

= render '/magaz/categories/breadcrumb'

.panel.panel-default
  .panel-heading
    %h4.panel_header= @product.name

  .panel-body
    = render '/magaz/products/tabs'
    %br
    = form_tag(shift_variants_path, id: 'variantsform') do
      = hidden_field_tag 'shift[product]', @product.permalink
      %table.editable_table.table.table-hover
        %thead
          %tr
            %th.checkbox_column= check_box_tag '', '', false, class: 'header-checkbox'
            %th.th_actions
            %th.mod_column= t('.mod')
            %th.price_column= Magaz::Product.human_attribute_name(:price)
            %th= t('.characteristics')
            / %th= t('magaz.common.gallery')
            / %th= t('.colors')
        %tbody
          - @variants.each_with_index do |variant, index|
            = hidden_field_tag 'shift[items][][id]', variant.id
            %tr
              %td= check_box_tag 'shift[items][][checked]', 'true', false, class: 'row-checkbox'
              %td.td_actions
                = render '/magaz/common/dropdown_menu', edit: edit_variant_path(variant), up: variant_up_path(variant), down: variant_down_path(variant), target: variant, confirm: "Вы уверены, что хотите удалить модификацию товара?"
              %td= link_to variant.name, edit_variant_path(variant)
              %td= variant.price
              %td= variant.values_string
              / %td
              /   - variant.images.each do |image|
              /     = link_to image.picture.url, {:'data-lightbox' => variant.id} do
              /       = image_tag(image.picture.url, class: 'variant-index-image img-rounded img-thumbnail')
              / %td= variant.colors_string.html_safe
      - unless @variants.empty?
        = submit_tag t('magaz.common.remove'), class: 'btn btn-default', data: { confirm: 'Уверены, что хотите удалить выбранные позиции?' }, name: 'remove'

               
    %br
= link_to t('helpers.link_to.new_f', model: Magaz::Variant.model_name.human), new_product_variant_path(@product)
/ \|
/ = link_to t('helpers.link_to.back'), edit_product_path(@product)
