- if notice
  .alert.alert-success= notice

= render '/magaz/categories/breadcrumb'

.panel.panel-default
  .panel-heading
    %h4.panel_header= @product.name

  .panel-body
    = render '/magaz/products/undertitle_links'
    %br
    %table.editable_table.table.table-hover
      %thead
        %tr
          %th.serial_number_column N
          %th.price_column= Magaz::Product.human_attribute_name(:price)
          %th= t('.characteristics')
          %th= t('magaz.common.gallery')
          %th= t('.colors')
          %th.th_actions
      %tbody
        - @product.variants.each_with_index do |variant, index|
          %tr
            %td= index + 1
            %td= variant.price
            %td= variant.values_string
            %td
              - variant.images.each do |image|
                = link_to image.picture.url, {:'data-lightbox' => variant.id} do
                  = image_tag(image.picture.url, class: 'variant-index-image img-rounded img-thumbnail')
            %td= variant.colors_string.html_safe
            %td
              .actions
                = link_to variant, :method => :delete, :data => { :confirm => 'Are you sure?' }, class: 'btn-link' do
                  %i.glyphicon.glyphicon-remove
    %br
    = link_to t('helpers.link_to.new', model: Magaz::Variant.model_name.human), new_product_variant_path(@product)

= link_to t('helpers.link_to.back'), edit_product_path(@product)