= render '/magaz/categories/breadcrumb'

.panel.panel-default
  .panel-heading
    .panel_header= "#{@product.name} - Новая модификация"

  .panel-body
    = render '/magaz/products/tabs'
    %br
    .row
      .col-lg-12
        = render 'form'


= link_to t('helpers.link_to.back'), product_variants_path(@product)