= render '/magaz/categories/breadcrumb'

.panel.panel-default
  .panel-heading
    %h4.panel_header= @product.name + ' (новый вариант)'

  .panel-body
    = render '/magaz/products/undertitle_links'
    %br
    = render 'form'


= link_to t('helpers.link_to.back'), product_variants_path(@product)