= bootstrap_form_for @delivery, layout: :horizontal, label_col: 'col-md-2', control_col: 'col-lg-4 col-md-10' do |f|
  - if @delivery.errors.any?
    = f.alert_message t('errors.template.header', count: @delivery.errors.count)

  = f.text_field :code, class: 'small_input_group'
  = f.text_field :name
  = f.text_field :price,  class: 'small_input_group'
  = f.form_group :address_required do
    = f.check_box :address_required
  = f.form_group :post_code_required do
    = f.check_box :post_code_required
  = f.text_area :note

  = f.submit t('helpers.submit.save'), class: 'btn btn-success'
  - unless @delivery.new_record?
    = link_to t('helpers.link_to.destroy'), @delivery, method: :delete, data: {confirm: "Вы уверены, что хотите удалить запись?"}, class: 'btn btn-link'