
.panel.panel-default
  .panel-heading
    %h4.panel_header= t('.title')
  .panel-body
    %table.editable_table.table.table-condensed
      %thead
        %tr
          %th.checkbox_column
          %th.th_actions
          %th= Magaz::Delivery.human_attribute_name(:name)
          %th.icons_column= t('.address')
          %th.icons_column= t('.post_code')
      %tbody
        - @deliveries.each do |delivery|
          %tr
            %td
            %td.td_actions
              = render '/magaz/common/dropdown_menu', edit: edit_delivery_path(delivery), up: delivery_up_path(delivery), down: delivery_down_path(delivery), target: delivery, confirm:  "Вы уверены, что хотите удалить запись?"
            %td= link_to delivery.name, edit_delivery_path(delivery)
            %td
              - if delivery.address_required
                %i.fa.fa-plus
              - else
                %i.fa.fa-minus
            %td
              - if delivery.post_code_required
                %i.fa.fa-plus
              - else
                %i.fa.fa-minus
    = link_to t('helpers.link_to.new', model: Magaz::Delivery.model_name.human), new_delivery_path, class: 'btn btn-default'
