= render '/magaz/property_groups/breadcrumb'

.panel.panel-default
  .panel-heading
    %h4.panel_header
      = @property.name
  .panel-body
    = render '/magaz/properties/tabs'
    %br
    = bootstrap_form_for @property_arg, layout: :horizontal, label_col: 'col-md-2', control_col: 'col-lg-4 col-md-10' do |f|
      = f.number_field :min
      = f.number_field :max
      = f.number_field :step
      = f.number_field :default
      = f.submit t('helpers.submit.save'), class: 'btn btn-success'

