- if notice
  .alert.alert-success= notice

.panel.panel-default
  .panel-heading
    %h4.panel_header= t('.title')
  .panel-body
    %table.editable_table.table.table-condensed
      %thead
        %tr
          %th.checkbox_column
          %th.th_actions
          %th= Magaz::Payment.human_attribute_name(:name)
          %th= Magaz::Payment.human_attribute_name(:note)
      %tbody
        - @payments.each do |payment|
          %tr
            %td
            %td.td_actions
              = render '/magaz/common/dropdown_menu', edit: edit_payment_path(payment), up: payment_up_path(payment), down: payment_down_path(payment), target: payment, confirm:  "Вы уверены, что хотите удалить запись?"
            %td= link_to payment.name, edit_payment_path(payment)
            %td= payment.note
    = link_to t('helpers.link_to.new', model: Magaz::Payment.model_name.human), new_payment_path, class: 'btn btn-default'