= bootstrap_form_for @category, layout: :horizontal, label_col: 'col-md-2', control_col: 'col-lg-4 col-md-10' do |f|
    - if @category.errors.any?
        = f.alert_message t('errors.template.header', count: @category.errors.count)
    - if @parent_category
        = hidden_field_tag :parent, @parent_category.permalink

    = f.text_field :name, :autofocus => true

    = f.select :property_group_ids, grouped_options_for_select(Magaz::PropertyGroup.options, @category.property_group_ids), { label: Magaz::Category.human_attribute_name(:properties) }, { class: 'selectpicker', multiple: true, :'data-size' => 5 }

    = f.text_field :code
    
    = f.form_group :hidden do
        = f.check_box :hidden

    .col-md-offset-2
        .gallery-item
            - if @category.image
                = link_to @category.image.picture.url, {:'data-lightbox' => @category.permalink} do
                    = image_tag(@category.image.picture.url, class: 'example-image img-rounded img-thumbnail')
                    .actions
                        = link_to category_image_destroy_path(@category), :method => :delete, :data => { :confirm => t("helpers.question.confirm_remove_image") }, class: 'btn-link' do
                            %i.glyphicon.glyphicon-remove
            - else
                = image_tag("blank_350_350.png", class: 'example-image img-rounded img-thumbnail')
                
        = f.file_field :picture, hide_label: true

    %br

    = f.submit t('helpers.submit.save'), class: 'btn btn-success'
    - unless @category.new_record?
        = link_to t('helpers.link_to.destroy'), @category, method: :delete, data: {confirm: "Вы уверены, что хотите удалить категорию? <br/>Все дочерние категории и товары будут также удалены"}, class: 'btn btn-link'

