= render '/magaz/categories/breadcrumb'

.panel.panel-default
  .panel-heading
    %h4.panel_header
      - unless @category.name.empty?
        = @category.name
      - else
        = t('.default_header')

  .panel-body
    = render 'tabs'
    %br
    = bootstrap_form_for @category do |f|
      = hidden_field_tag 'descr', '1'
      = f.text_area :description, class: 'wysihtml5 description', hide_label: true
      = f.submit t('helpers.submit.save'), class: 'btn btn-success'
