- if notice
  .alert.alert-success= notice

= render 'breadcrumb'


.panel.panel-default
  .panel-heading
    %h4.panel_header= t('.title')
  .panel-body
    %table.editable_table.table.table-hover
      %thead
        %tr
          %th.code_column= Magaz::Category.human_attribute_name(:code)
          %th.th_actions
          %th= Magaz::Category.human_attribute_name(:name)
          %th.icons_column

      %tbody
        - if @parent_category
          %tr
            %td
            %td
            %td= link_to '...', categories_path(@parent_category.parent)
            %td
        - @categories.each do |category|
          %tr
            %td= category.id
            
            %td.td_actions
              .actions.btn-group
                %button.btn.btn-default.dropdown-toggle.btn-xs{:'data-toggle' => 'dropdown'}
                  %i.glyphicon.glyphicon-menu-hamburger
                %ul.dropdown-menu
                  %li
                    = link_to edit_category_path(category) do
                      %i.fa.fa-pencil.fa-fw
                      = t('magaz.common.edit')
                  %li.divider{role: 'separator'}
                  %li
                    = link_to category_up_path(category), method: :patch do
                      %i.fa.fa-arrow-up.fa-fw
                      = t('magaz.common.higher')
                  %li
                    = link_to category_down_path(category), method: :patch do
                      %i.fa.fa-arrow-down.fa-fw
                      = t('magaz.common.lower')

                  %li.divider{role: 'separator'}
                  %li
                    = link_to category, method: :delete, data: {confirm: "Вы уверены, что хотите удалить категорию? <br/>Все дочерние категории и товары будут также удалены"} do
                      %i.fa.fa-trash.fa-fw
                      = t('helpers.link_to.destroy')
            %td
              = link_to categories_path(category) do
                - if category.products.empty?
                  %i.fa.fa-folder-open
                - else
                  %i.fa.fa-folder
                = category.name
            %td


%br
= link_to t('helpers.link_to.new_f', model: Magaz::Category.model_name.human), new_category_path(@parent_category)
- if @categories.empty?
  \|
  = link_to t('helpers.link_to.new', model: Magaz::Product.model_name.human), new_category_product_path(@parent_category)
