- if notice
  .alert.alert-success= notice

= render 'breadcrumb'


.panel.panel-default
  .panel-heading
    %h4.panel_header= t('magaz.common.products')
    / %h4.panel_header= t('.title')
  .panel-body
    %table.editable_table.table.table-hover
      %thead
        %tr
          %th.checkbox_column
          %th.th_actions
          %th= Magaz::Category.human_attribute_name(:name)
          %th.icons_column
      %tbody
        - if @parent_category
          %tr
            %td
            %td
            %td= link_to '...', categories_path(@parent_category.parent)
            %td
        - @categories.each do |category|
          %tr
            %td
            %td.td_actions
              = render '/magaz/common/dropdown_menu', edit: edit_category_path(category), up:category_up_path(category), down: category_down_path(category), target: category, confirm:  "Вы уверены, что хотите удалить категорию? <br/>Все дочерние категории и товары будут также удалены"
            %td
              = link_to categories_path(category) do
                - if category.products.empty?
                  %i.fa.fa-folder-open
                - else
                  %i.fa.fa-folder
                = category.name
            %td
      

%br
= link_to t('helpers.link_to.new_f', model: Magaz::Category.model_name.human), new_category_path(@parent_category)
- if @categories.empty?
  \|
  = link_to t('helpers.link_to.new', model: Magaz::Product.model_name.human), new_category_product_path(@parent_category)
