- if notice
  .alert.alert-success= notice

= render 'breadcrumb'


.panel.panel-default
  .panel-heading
    %h4.panel_header= t('.title')
  .panel-body
    %table.editable_table.table.table-hover
      %thead
        %tr
          %th.code_column= Magaz::Category.human_attribute_name(:code)
          %th.th_actions
          %th= Magaz::Category.human_attribute_name(:name)
          %th.code_column

      %tbody
        - if @parent_category
          %tr
            %td
            %td
            %td= link_to '...', categories_path(@parent_category.parent)
            %td
        - @categories.each do |category|
          %tr
            %td= category.id
            
            %td.td_actions
              .actions.btn-group
                %button.btn.btn-default.dropdown-toggle.btn-xs{:'data-toggle' => 'dropdown'}
                  %i.glyphicon.glyphicon-menu-hamburger
                %ul.dropdown-menu
                  %li= link_to t('magaz.common.edit'), edit_category_path(category)
                  %li= link_to t('magaz.common.higher'), category_up_path(category), method: :patch
                  %li= link_to t('magaz.common.lower'), category_down_path(category), method: :patch
                  %li.divider{role: 'separator'}
                  %li= link_to t('helpers.link_to.destroy'), category, method: :delete, data: {confirm: "Вы уверены, что хотите удалить категорию? <br/>Все дочерние категории и товары будут также удалены"}
            %td
              = link_to category.name, categories_path(category)
            %td
              - if category.products.empty?
                %i.glyphicon.glyphicon-folder-open
              - else
                %i.glyphicon.glyphicon-folder-close
              - if category.hidden
                %i.glyphicon.glyphicon-eye-close


%br
= link_to t('helpers.link_to.new_f', model: Magaz::Category.model_name.human), new_category_path(@parent_category)
- if @categories.empty?
  \|
  = link_to t('helpers.link_to.new', model: Magaz::Product.model_name.human), new_category_product_path(@parent_category)
