
%nav.navbar.navbar-default.navbar-static-top{role: "navigation", style: "margin-bottom: 0"}

  .navbar-header
    %button.navbar-toggle{:type => "button", :'data-toggle' => 'collapse', :'data-target' => ".navbar-collapse"}
      %span.sr-only Toggle navigation
      %span.icon-bar
      %span.icon-bar
      %span.icon-bar
    = link_to Magaz, '#', class: "navbar-brand"

  %ul.nav.navbar-top-links.navbar-right
    %li.dropdown
      = link_to '#', class: "dropdown-toggle", :'data-toggle' => "dropdown" do
        %i.fa.fa-user.fa-fw
        %i.fa.fa-caret-down
      %ul.dropdown-menu.dropdown-user
        %li
          = link_to '#' do
            %i.fa.fa-user.fa-fw 
            Профиль
        %li
          = link_to '#' do
            %i.fa.fa-gear.fa-fw
            Настройки
        %li.divider
        %li
          = link_to '#' do
            %i.fa.fa-sign-out.fa-fw
            Выход

      

