!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Magaz
    = stylesheet_link_tag    "magaz/application", media: "all"
    = javascript_include_tag "magaz/application"
    = csrf_meta_tags
  %body

    #wrapper
      %nav.navbar.navbar-default.navbar-static-top{role: "navigation", style: "margin-bottom: 0"}
        = render 'layouts/magaz/nav'
        = render 'layouts/magaz/side'

      #page-wrapper
        .row.main
          .col-lg-12
            = yield      
