!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Magaz
    = stylesheet_link_tag    "magaz/application", media: "all"
    = javascript_include_tag "magaz/application"
    = csrf_meta_tags
  %body
    = render 'layouts/magaz/nav'
    .container
      .row.main
        = yield
