!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Magaz
    = stylesheet_link_tag    "magaz/application", media: "all"
    = javascript_include_tag "magaz/application"
    = csrf_meta_tags
  %body
    .container
      = link_to 'Категории и товары', categories_path
      \|
      = link_to 'Характеристики', properties_path
      \|
      = link_to 'Заказы', orders_path
      \|
      = link_to 'Доставка', deliveries_path
      \|
      = link_to 'Оплата', payments_path
      %br
      %br
      = yield
